<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato</title>
    <link rel="stylesheet" href="../../public/style/estilo.css" />
  </head>
  <body>
    <nav class="menu">
      <img
        src="https://bluemoji.io/cdn-proxy/646218c67da47160c64a84d5/66b3ea6b437be789ded213fd_45.png"
        alt="Logo site"
        width="100"
      />
      <ul>
        <a href="/">CONTATO</a>
        <a href="/sobre">SOBRE NÓS</a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
    <main>
      <h3>CONTATO</h3>
    </main>
  </body>
</html>
